.confidence {
  &__content {
    padding: rem(55px) 0px rem(94px);
    background: #F3F3F5;
  }

  &__title {
    font-family: 'GolosText', sans-serif;
    font-weight: 400;
    line-height: 130%;
    font-size: rem(36px);
    color: #000;
    margin-bottom: rem(75px);
  }

  &__items {
    max-width: rem(1122px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: rem(34px) rem(130px);
  }

  &__item {
    text-align: center;
  }

  &__img {
  }

  @media (max-width: 991px) {
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 767px) {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 480px) {
    &__content {
      padding: rem(30px) 0px;
    }

    &__title {
      font-size: rem(26px);
      text-align: center;
      margin-bottom: rem(26px);
    }

    &__items {
      grid-template-columns: 1fr;
      grid-gap: rem(30px);
    }
  }
}

