
.select {
  position: relative;
  width: rem(207px);
  &__trigger {
    display: flex;
    align-items: center;
    height: rem(41px);
    transition: 0.4s;
    cursor: pointer;
    position: relative;
    border-radius: rem(5px);
    border: rem(1px) solid #B0B7C1;
    font-family: 'GolosText', sans-serif;
    font-weight: 400;
    line-height: 140%;
    font-size: rem(14px);
    color: #000;
    padding-left: rem(18px);
    padding-right: rem(30px);
  }

  &__trigger span {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__arrow {
    position: absolute;
    top: rem(8px);
    right: rem(16px);
  }

  &__arrow svg {
    transform: rotate(0deg);
    width: rem(8px);
  }

  &__trigger.active &__arrow svg {
    transform: rotate(180deg);
  }




  &__drop {
    display: none;
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    border: 1px solid #d1d5db;
    border-top: none;
    position: absolute;
    z-index: 10;
  }

  &__drop.open {
    display: block;
  }

  &__list {
    max-height: rem(320px);
    overflow-y: auto;
    font-family: 'GolosText', sans-serif;
    font-weight: 400;
    line-height: 130%;
    font-size: rem(14px);
    color: #000;
  }

  &__list input {
    display: none;
  }

  &__list label {
    display: block;
    padding: 5px 20px;
    margin-bottom: 0;
    cursor: pointer;
    transition: 0.3s;
  }

  &__list input:checked + label {
    background-color: #3385FF;
    color: #fff;
  }

  @media (max-width: 480px) {
    width: 100%;

    &__trigger span {
      overflow: visible;
      white-space: normal;
    }
  }
}

